body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #000;
    color: #fff;
}

.quiz-container {
    max-width: 600px;
    margin: 100px auto;
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quiz-logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.skill-options button {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.skill-options button:hover {
    background-color: #0056b3;
}

.start-quiz {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.start-quiz:hover {
    background-color: #0056b3;
}
.hidden {
    display: none;
}